<!DOCTYPE html>
<!--[if IE 8]> <html class="ie8" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9]> <html class="ie9" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if !IE]><!-->
<html xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
<title>GeekLabs Spring MVC Template</title>
<div th:replace="fragments/css" />
</head>
<body>
	<div id="wrapper" ng-app="app">
		<div th:replace="fragments/siteheader"></div>
		<br /> <br /> <br />
		<div class="container" ng-controller="BatchPlanningController"
			id="BatchPlanningController">
			<div class="row">
				<div class="panel panel-info col-lg-6"
					sec:authorize="hasAnyRole('ROLE_USER')">
					<div class="panel-heading">
						<h3 class="panel-title">Welcome to GeekLabs</h3>
					</div>

					<div class="panel-body">
						<div class="batchPlannings">
							<div ng-repeat="batchPlanning in batchPlannings"
								ng-animate="'animate'">
								<div ng-switch="batchPlanning.status">
									<div ng-switch-when="NEW" class="my-switch-animation">
										<a th:href="@{/batchPlanning/update/{{batchPlanning.id}}}"
											class="list-group-item"
											sec:authorize="hasAnyRole('ROLE_SYSTEM_ADMIN')"> New
											batch planning is created by center
											'{{batchPlanning.trainingCenter}}' on course
											'{{batchPlanning.courseName}}' </a>
									</div>

									<div ng-switch-when="MAPPED">
										<a th:href="@{/batchPlanning/update/{{batchPlanning.id}}}"
											class="list-group-item"
											sec:authorize="hasAnyRole('ROLE_SYSTEM_ADMIN')"> Batch
											planning created by center '{{batchPlanning.trainingCenter}}'
											on course '{{batchPlanning.courseName}}' is mapped. </a>
									</div>

									<div ng-switch-when="TO_BE_CONFIRMED">
										<a th:href="@{/batchMapping/add/{{batchPlanning.id}}}"
											class="list-group-item"
											sec:authorize="hasAnyRole('ROLE_CENTER_ADMIN')"
											th:readonly="*{readOnly}"> Batch planning created on date
											'{{batchPlanning.startDate}}' on course
											'{{batchPlanning.courseName}}' is ready for student mapping!
										</a>
									</div>

									<div ng-switch-when="MAPPING">
										<a th:href="@{/batchMapping/add/{{batchPlanning.id}}}"
											class="list-group-item"
											sec:authorize="hasAnyRole('ROLE_CENTER_ADMIN')"
											th:readonly="*{readOnly}"> Batch planning created on date
											'{{batchPlanning.startDate}}' on course
											'{{batchPlanning.courseName}}' is ready for student mapping!
										</a>
									</div>

									<div ng-switch-when="CONFIRMED">
										<a th:href="@{/batchPlanning/update/{{batchPlanning.id}}}"
											class="list-group-item"
											sec:authorize="hasAnyRole('ROLE_CENTER_ADMIN')"
											th:readonly="*{readOnly}"> Congratulations! Batch
											planning with code '{{batchPlanning.batchCode}}' on course
											'{{batchPlanning.courseName}}' is confirmed </a>
									</div>
								</div>
							</div>
							<div ng-if="batchPlannings.length==0">
								<a th:href="@{#}" class="list-group-item">No Notifications
									found</a>
							</div>

						</div>
					</div>

				</div>
				<div class="panel panel-info col-lg-6"
					sec:authorize="hasAnyRole('ROLE_QUALITY_ADMIN')">
					<div class="panel-heading">
						<h3 class="panel-title">Batches to be Test</h3>
					</div>
					<div class="panel-body">
						<a href="#" sec:authorize="hasAnyRole('ROLE_QUALITY_ADMIN')"
							th:readonly="*{readOnly}" class="list-group-item "> No
							Batches found to test! </a>
					</div>
				</div>
				<div class="panel panel-info col-lg-6"
					sec:authorize="hasAnyRole('ROLE_SYSTEM_ADMIN', 'ROLE_CENTER_ADMIN')">
					<div class="panel-heading">
						<h3 class="panel-title">Material Request</h3>
					</div>
					<div class="panel-body">
						<a href="#" class="list-group-item "> No Material
							Notifications found! </a>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="panel panel-info col-lg-6"
					sec:authorize="hasAnyRole('ROLE_SYSTEM_ADMIN', 'ROLE_CENTER_ADMIN')">
					<div class="panel-heading">
						<h3 class="panel-title">Assessment</h3>
					</div>
					<div class="panel-body">
						<a href="#" class="list-group-item "> No Assessment
							Notifications found!</a>
					</div>
				</div>

				<div class="panel panel-info col-lg-6"
					sec:authorize="hasAnyRole('ROLE_SYSTEM_ADMIN', 'ROLE_CENTER_ADMIN')">
					<div class="panel-heading">
						<h3 class="panel-title">Placement</h3>
					</div>
					<div class="panel-body">
						<a href="#" class="list-group-item "> No Placement
							Notifications found!</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer"></div>

	<div th:replace="fragments/js"></div>
	<script type="text/javascript">
		var app = angular.module('app', []);
		app.controller("BatchPlanningController", function($scope, $http) {

			$scope.action = null;
			$scope.batchPlannings = [];
			$scope.get = function() {
				$http({
					url : contextPath + "/batchPlanning/status",
					method : 'GET',
					dataType : 'json'
				}).then(function(dataResponse) {
					var data = dataResponse.data;
					$scope.batchPlannings = data;
				});
			};

			$scope.get();
		});
	</script>
</body>
</html>