.btn {
	border:1px solid rgba(0, 0, 0, 0);	
}

.btn-custom {
	border:1px solid #84BB26;
}

a:focus {
	outline: none;
}

input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
    outline: none;    
}

.form-horizontal .form-group {
	/*---------- */ margin-bottom: 15px;
}

.blue.btn {
    background-color: #398183;
    color: #FFFFFF;
    border: none;
}
.blue.btn:hover {
    background-color: #2F6C6E;
}
.darkblue.btn {
    background-color: #355773;
    color: #FFFFFF;
    border: none;
}
.darkblue.btn:hover {
    background-color: #2A455C;
}
.green.btn {
    background-color: #AEA8F7;
    color: #FFFFFF;
    border: none;
}
.green.btn:hover {
    background-color: #AEA8F7;
    color: #FFFFFF;
}
.red.btn {
    background-color: #FCB6B6;
    color: #FFFFFF;
    border: none;
}
.red.btn:hover {
    background-color: #FCB6B6;
    color: #FFFFFF;
}
.darkred.btn {
    background-color: #600202;
    color: #FFFFFF;
    border: none;
}
.darkred.btn:hover {
    background-color: #4C0101;    
}
.magenta.btn {
    background-color: #990033;
    color: #FFFFFF;
    border: none;
}
.magenta.btn:hover {
    background-color: #760029;
}
.orange.btn {
    background-color: #FF5C00;
    color: #FFFFFF;
    border: none;
}
.orange.btn:hover {
    background-color: #D24C02;
}
.yellow.btn, .yellow.btn:hover, .yellow.btn:visited, .yellow.btn:active {
    color: #444444;
    color: #FFFFFF;
}
.yellow.btn {
    background-color: #F9D619;
    text-shadow: 1px 1px 1px #FFFFFF;
    color: #FFFFFF;
    border: none;
}
.yellow.btn:hover {
    background-color: #E4C417;
}
.black.btn {
    background-color: #222222;
    color: #FFFFFF;
    border: none;
}
.black.btn:hover {
    background-color: #090909;
}
.purple.btn {
    background-color: #753AA2;
    color: #FFFFFF;
    border: none;
}
.purple.btn:hover {
    background-color: #66328D;
}
.grey.btn, .grey.btn:hover, .disabled.btn, .disabled.btn:hover {
    background-color: #CCCCCC;
    color: #FFFFFF;    
    cursor: default;
    border: none;
}
 
.error {
	color: #A94442;
	font-weight: normal;
} 

#account_info {    
    color: #666666;    
    vertical-align: top;
    margin: 10px 0;
}

#account_info ul {
	margin: 0;
	list-style: none;
	margin: 0 10px;
	padding: 0; 
}

#account_info ul li {
	list-style: none;
}

#account_info ul li:hover ul.dropdown-menu {
	display: block;
} 

#account_info ul li ul.dropdown-menu {
	margin: 0;
	padding: 2px 0;
}

#account_info ul li ul.dropdown-menu li {
	float: none; 
}

#retailer_id {
    float: right;
    clear: both; 
}

.navigation {
	background: #434343;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#292929),color-stop(.25,#434343));	
    background: -moz-linear-gradient(center top , #292929 0px, #434343 25%) repeat scroll 0 0 #434343;
	color: #FFFFFF;	
}

.navigation .navbar-nav > li > a {
	padding-top: 5px;
	padding-bottom: 5px; 
	color: #FFFFFF;
	font-size: 14px;
}

.navigation .navbar-nav > li > a:hover, .navigation .navbar-nav > li > a:focus {	
	color: #222222;
}

.navigation .navbar-header .navbar-toggle {
	color: #FFFFFF;
    font-size: 16px;
    padding: 0;
}

.navigation .navbar-collapse {}


/* Angular animation for product **/
.product-enter, .product-leave {
	-webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	position: relative;
	display: block;
	overflow: hidden;
	text-overflow: clip;
	white-space:nowrap;
}
 
.product-leave.product-leave-active, .product-enter {
	opacity: 0;
	width: 0px;
	height: 0px;
}
 
.product-enter.product-enter-active, .product-leave {
	opacity: 1;
	width: 150px;
	height: 30px;
}

.icon-btn-text {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 16px;
}

#products-tabs-content .item .item-checkbox {
	position:absolute;
	top: 18px; 
	left: 2px;	
}

#products-tabs-content .item:HOVER .item-checkbox {	
	display:  inline-block;
}

.item .item-image-container .item-image, .item .item-image-container .item-image-hover{
	min-height: 220px;
}

.table figure a {
	display:  block;
}

.button-hidden {display: none;}

#productActionButton.fixed .button-hidden {
	position: fixed;
	top: 45px;
	display: block;
	z-index: 999;
	padding:  10px;	
	background-color: #FFFFFF;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-box-shadow: 0 5px 4px rgba(0,0,0, 0.10);
	box-shadow: 0 5px 4px rgba(0,0,0, 0.10); 
}

/** align **/
.ar {text-align: right !important; }
.al { text-align: left !important;}


/** Cart Pop UP **/

.modal-cart-table thead tr th,  .modal-cart-table > tbody > tr > td {
	padding : 10px 10px;
	font-weight: normal;
	color: #6D6D6D; 
}

.modal-cart-table > tbody > tr > td.supplier-name {	
	font-weight: bold;
}

.order-table tbody tr:HOVER {
	cursor: pointer;
}