<header id="header">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-5 col-xs-12 logo-container">
				<h1 class="logo clearfix">
					<div class="sequencebg">
						<img src="../resources/images/geeklabs_logo.png"
							th:src="@{/resources/images/geeklabs_logo.png}"
							class="sequencebg-image" height="100" width="200"/>
					</div>
				</h1>
			</div>
			<div class="header-top-right">
				<div class="header-text-container pull-right">
					<span
						sec:authorize="hasAnyRole('ROLE_SYSTEM_ADMIN','ROLE_CENTER_ADMIN', 'ROLE_QUALITY_ADMIN')">
						Welcome <span sec:authentication="name">User</span> <a
						href="/logout" th:href="@{/logout}"><font color="blue">Logout</font></a>
					</span>
				</div>
			</div>
		</div>
	</div>

<div class="xs-margin"></div>
	<div id="main-nav-container">
		<ul class="nav nav-pills">
			<!-- class="nav nav-tabs" -->
			<li
				sec:authorize="hasAnyRole('ROLE_SYSTEM_ADMIN','ROLE_CENTER_ADMIN', 'ROLE_QUALITY_ADMIN')"><a
				href="/home" th:href="@{/home}">My Day</a></li>

			<!-- Enrollments Drop down-->
			<li class="dropdown" sec:authorize="hasAnyRole('ROLE_SYSTEM_ADMIN', 'ROLE_CENTER_ADMIN')"><a class="dropdown-toggle"
				data-toggle="dropdown" href="#"> Enrollments <span
					class="caret"></span> </a>
				<ul class="dropdown-menu" role="menu">
					<li sec:authorize="hasAnyRole('ROLE_SYSTEM_ADMIN')"
						role="navigation"><a th:href="@{/admin/submission/list}"
						title="submission">Submission</a></li>
					<li sec:authorize="hasAnyRole('ROLE_SYSTEM_ADMIN')"
						role="navigation"><a th:href="@{/admin/course/list}">Course</a></li>
					<li sec:authorize="hasAnyRole('ROLE_SYSTEM_ADMIN','ROLE_CENTER_ADMIN')"
						role="navigation"><a th:href="@{/student/list}">Student</a></li>
					<li sec:authorize="hasAnyRole('ROLE_SYSTEM_ADMIN', 'ROLE_CENTER_ADMIN')"
						role="navigation"><a th:href="@{/employee/list}">Employee</a></li>
					<li sec:authorize="hasAnyRole('ROLE_SYSTEM_ADMIN')"
						role="navigation"><a th:href="@{/admin/trainingCenter/list}">Training Center</a></li>
				</ul>
			</li>

			<!-- Batches Drop down-->
			<li class="dropdown" sec:authorize="hasAnyRole('ROLE_SYSTEM_ADMIN','ROLE_CENTER_ADMIN')"><a class="dropdown-toggle"
				data-toggle="dropdown" href="#"> Batches <span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li
						sec:authorize="hasAnyRole('ROLE_SYSTEM_ADMIN','ROLE_CENTER_ADMIN')"
						role="navigation"><a th:href="@{/batchPlanning/list}">Batch Planning</a>
					</li>
				</ul>
			</li>

			<li sec:authorize="hasAnyRole('ROLE_SYSTEM_ADMIN')"><a
				th:href="@{/pdf/get}">Reports</a></li>
			<li sec:authorize="hasAnyRole('ROLE_SYSTEM_ADMIN','ROLE_CENTER_ADMIN')"><a
				th:href="@{/home}">Placement</a></li>
			<li sec:authorize="hasAnyRole('ROLE_SYSTEM_ADMIN','ROLE_CENTER_ADMIN')"><a
				th:href="@{/home}">Post Placement</a></li>
			<li sec:authorize="hasAnyRole('ROLE_SYSTEM_ADMIN')"><a
				th:href="@{/home}">Back Up</a></li>
			<li sec:authorize="hasAnyRole('ROLE_QUALITY_ADMIN')"><a
				th:href="@{/home}">Audit</a></li>
		</ul>
	</div>

</header>